absl-py 
aiohttp 
async-timeout==3.0.1
attrs 
blinker==1.4
brotlipy==0.7.0
cachetools 
certifi==2020.6.20
cffi 
chardet 
click==7.1.2
cryptography 
easydict==1.9
fsspec 
future 
gensim==3.8.3
google-auth 
google-auth-oauthlib==0.4.1
grpcio 
idna 
importlib-metadata 
joblib==0.17.0
Markdown 
mkl-fft==1.2.0
mkl-random==1.2.0
mkl-service==2.3.0
multidict 
nltk==3.5
numpy 
oauthlib==3.0.1
packaging 
prettytable==1.0.1
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser 
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks 
pytorch-lightning 
PyYAML==5.3.1
regex==2020.10.23
requests 
requests-oauthlib 
rsa 
scipy==1.5.3
six 
smart-open==3.0.0
tensorboard 
tensorboard-plugin-wit 
torch==1.3.1
tqdm 
typing-extensions 
urllib3 
wcwidth==0.2.5
Werkzeug==1.0.1
yarl 
zipp 
